#container{
    text-align: center;
}

#grid {
    margin: auto;
    display: table;
    border-spacing: 1px;
    background-color: black;
    border: 5px solid black;
    margin-top: 20px;
    vertical-align: middle;
}

#grid div{
    vertical-align: middle;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    background-color: white;
    width: 50px;
    height: 50px;
}

.stamp {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

textarea{
    border: 5px solid black;
    margin-top: 10px;
}


















